<header>
  <div class="logo"> Flashcards App </div>

  <nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/flashcards">All Flashcards</a></li>
  <li><a href="/flashcards/new"> Add New Flashcards </a></li>

  </ul>
  </nav>

  </header>